<h1><center>Update Merchant: <%= @merchant.name%></center></h1>

<%= form_with url: admin_merchant_path(@merchant), method: :patch do |f|%>
  <%= f.label :name %>
  <%= f.text_field :name, value: @merchant.name %>
  <%= f.submit "Submit" %>
<% end %>