<h1><center>Merchant Index</center></h1>

<%= link_to "Create New Merchant", new_admin_merchant_path %>


<h2>Top Five Merchants By Total Revenue</h2>
<div id="top_five">
<table>
    <thead>
      <tr>
        <th>Merchant Name</th>
        <th>Total Revenue</th>
        <th>Top selling date</th>
      </tr>
    </thead>
    <tbody>
      <% Merchant.top_5_merchants_by_total_revenue.each do |merchant| %>
        <tr id="merchant-<%= merchant.id %>">
          <td><%= link_to merchant.name, admin_merchant_path(merchant) %></td>
          <td><%= number_to_currency(merchant.total_revenue) %></td>
          <td><%= merchant.best_day %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
  <br>
  <br>

<div class="table-container">
  <table class="enabled">
    <caption>Enabled Merchants</caption>
    <thead>
      <tr>
        <th>Merchant Name</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @merchants.enabled.each do |merchant| %>
        <tr id="enabled-merchant-<%= merchant.id %>">
          <td><%= link_to merchant.name, admin_merchant_path(merchant) %></td>
          <td>Enabled</td>
          <td>
            <%= button_to "Disable Merchant", admin_merchant_path(merchant), method: :patch, params: { enabled: false } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <table class="disabled">
    <caption>Disabled Merchants</caption>
    <thead>
      <tr>
        <th>Merchant Name</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @merchants.disabled.each do |merchant| %>
        <tr id="disabled-merchant-<%= merchant.id %>">
          <td><%= link_to merchant.name, admin_merchant_path(merchant) %></td>
          <td>Disabled</td>
          <td>
            <%= button_to "Enable Merchant", admin_merchant_path(merchant), method: :patch, params: { enabled: true } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>