<h1><center><%= @merchant.name %> Invoices</center></h1>
<table>
  <thead>
    <tr>
      <th>Cusomter ID</th>
      <th>Invoice ID</th>
      <th>Status</th>
      <th>Created at</th>
      <th>Updated at</th>
    </tr>
  </thead>
  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.customer_id %></td>
        <td><%= link_to "#{invoice.id}", merchant_invoice_path(@merchant, invoice), method: :get %></td>
        <td><%= invoice.status %></td>
        <td><%= invoice.created_at %></td>
        <td><%= invoice.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Top 5 Customers</h1>
<table>
  <thead>
    <tr>
      <th>Customer Name</th>
      <th>Number of Successful Transactions</th>
    </tr>
  </thead>
  <tbody>
    <% @top_five_customers.each do |customer| %>
      <tr>
        <td><%= customer.first_name %> <%= customer.last_name %></td>
        <td><%= customer.successful_transactions %></td>
      </tr>
    <% end %>
  </tbody>