<h1><center>Invoice <%= @invoice.id %> Details</center></h1>

<p><strong>ID:</strong> <%= @invoice.id %></p>
<p><strong>Status:</strong> <%= @invoice.status %></p>

<p><strong>Created At:</strong> <%= @invoice.created_at.strftime('%A, %B %d, %Y') %></p>
<p><strong>Customer Name:</strong> <%= "#{@invoice.customer.first_name} #{@invoice.customer.last_name}" %></p>

<div class="table_container">
<table class="table-style">
  <thead>
<caption>Items</caption>
    <tr>
      <th>Item Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Status</th>
      <th>Change Status</th>
      <th>Discount Page</th>
    </tr>
  </thead>
  <tbody>
    <% @invoice.invoice_items.each do |invoice_item| %>
      <tr id="invoice-item-<%= invoice_item.id %>">
        <td><%= invoice_item.item.name %></td>
        <td><%= invoice_item.quantity %></td>
        <td><%= number_to_currency(invoice_item.unit_price / 100.0) %></td>
        <td><%= invoice_item.status %></td>  
        <td><%= form_with url: merchant_invoice_item_path(@merchant, @invoice, invoice_item.item_id), method: :patch, data:{turbo: false} do |f| %>
            <%= select_tag :item_status, options_for_select([['packaged', 'packaged'], ['pending', 'pending'], ['shipped', 'shipped']], invoice_item.status) %>
            <%= f.submit 'Update Item Status' %>
            <% end %></td>
        
        <td><% if invoice_item.applicable_discount != nil %>
        <%= link_to 'Show Discount', merchant_bulk_discount_path(@merchant, invoice_item.applicable_discount) %>
        <% else %>
        No Discount
        <% end %></td>  
      </tr>
    <% end %>
  </tbody>
  </div>

  <p>Total Revenue of Invoice: <%= number_to_currency(@invoice.total_revenue) %></p>
  <p>Total Discounted Revenue: <%= number_to_currency(@invoice.total_discounted_revenue) %></p>
