<h1><center>Invoice <%= @invoice.id %> Details</center></h1>

<p><strong>ID:</strong> <%= @invoice.id %></p>
<p><strong>Status:</strong> <%= @invoice.status %></p>

<%= form_with models: @invoice, url: merchant_invoice_status_path(@merchant, @invoice), method: :patch, data:{turbo: false} do |f| %>
  <%= select_tag :status, options_for_select([['cancelled', 'cancelled'], ['in progress', 'in progress'], ['completed', 'completed']], @invoice.status) %>
  <%= f.submit 'Update Invoice Status' %>
<% end %>

<p><strong>Created At:</strong> <%= @invoice.created_at.strftime('%A, %B %d, %Y') %></p>
<p><strong>Customer Name:</strong> <%= "#{@invoice.customer.first_name} #{@invoice.customer.last_name}" %></p>

<h2>Items</h2>
<table>
  <thead>
    <tr>
      <th>Item Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @invoice.invoice_items.each do |invoice_item| %>
      <tr id="invoice-item-<%= invoice_item.id %>">
        <td><%= invoice_item.item.name %></td>
        <td><%= invoice_item.quantity %></td>
        <td><%= number_to_currency(invoice_item.unit_price / 100.0) %></td>
        <td><%= invoice_item.status %></td>
      </tr>
    <% end %>
  </tbody>

  <p> Total Revenue of Invoice: <%= number_to_currency(@invoice.total_revenue) %> </p>
