<h1><center>Create Bulk Discount</center></h1>

<%= form_with(model: [@merchant, @bulk_discount], url: "/merchants/#{@merchant.id}/bulk_discounts", local: true, data: { turbo: false }) do |f| %>

  <%= f.label :percentage_discount, "Percentage Discount" %>
  <%= f.number_field :percentage_discount, min: 0, max: 100, step: 0.5, required: true %>

  <%= f.label :quantity_threshold, "Quantity Threshold" %>
  <%= f.number_field :quantity_threshold, min: 1, required: true %>

  <%= f.submit "Create Discount" %>
<% end %>
