<section id="merchant_item-<%= item.id %>">
  <tr>
    <td><%= link_to "#{item.name}", merchant_item_path(@merchant, item), method: :get %></td>
    <td><%= item.description %></td>
    <td><%= item.formatted_unit_price %></td>
    <td><%= item.created_at %></td>
    <td><%= item.updated_at %></td>
    <td><%= item.status %></td>
    <td><%= button_to "Enable Item", status_merchant_item_path(@merchant, item), method: :patch, params: { item_id: item.id, status: 1 }, data: { turbo: false } %></td>
    <td><%= button_to "Disable Item", status_merchant_item_path(@merchant, item), method: :patch, params: { item_id: item.id, status: 0 }, data: { turbo: false } %></td>
  </tr>
</section>