<h1><center><%= @merchant.name %> Items</center></h1>

<h3>Most Popular Items</h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <!- <th>Description</th> ->
      <!- <th>Average Unit Price</th> ->
      <!- <th>Total Quantity</th> ->
      <th>Total Revenue</th>
    </tr>
  </thead>
  <tbody>
    <% @popular_items.each do |item| %>
      <tr>
        <td><%= link_to "#{item.name}", merchant_item_path(@merchant, item), method: :get %></td>
        <!- <td><%= item.description %></td> ->
        <!- <td><%= number_to_currency(item.invoice_items.successful_average_item_price / 100) %></td> ->
        <!- <td><%= item.invoice_items.successful_total_item_quantity %></td> ->
        <td><%= number_to_currency(item.revenue / 100.0) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  <h1><center>Disabled Items</center></h1>
<section id="disabled_items">
  <table>
    <%= render partial: "table_head" %>
    <tbody>
      <% @merchant.items.each do |item| %>
        <% if item.status == "disabled" %>
          <%= render partial: "item", locals: { item: item, merchant: @merchant } %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</section>

<h1><center>Enabled Items</center></h1>
<section id="enabled_items">
  <table>
    <%= render partial: "table_head" %>
    <tbody>
      <% @merchant.items.each do |item| %>
        <% if item.status == "enabled" %>
          <%= render partial: "item", locals: { item: item, merchant: @merchant } %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</section>
<br>
<br>
<br>  

<center><%= button_to "Create New Item", "/merchants/#{@merchant.id}/items/new", method: :get%></center>

<h3>All Items</h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Unit Price</th>
      <th>Created at</th>
      <th>Updated at</th>
    </tr>
  </thead>
  <tbody>
    <% @merchant.items.each do |item| %>
      <tr>
        <td><%= link_to "#{item.name}", merchant_item_path(@merchant, item), method: :get %></td>
        <td><%= item.description %></td>
        <td><%= item.formatted_unit_price %></td>
        <td><%= item.created_at %></td>
        <td><%= item.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>


