<h1><center><%= @merchant.name %> Items</center></h1>
<br>
<center><%= button_to "Create New Item", "/merchants/#{@merchant.id}/items/new", method: :get%></center>

<div class= "table-container">
<table id="most_popular_items" class="table-style">
<caption>Most Popular Items</caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Total Revenue</th>
      <th>Top Selling Date</th>
    </tr>
  </thead>
  <tbody>
    <% @popular_items.each do |item| %>
      <tr>
        <td><%= link_to "#{item.name}", merchant_item_path(@merchant, item), method: :get %></td>
        <td><%= number_to_currency(item.revenue) %></td>
        <td><%= item.top_selling_date.strftime('%b %d, %Y') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="table-container">
<section id="disabled_items">
  <table class="table-style">
  <caption><center>Disabled Items</center></caption>
    <%= render partial: "table_head" %>
    <tbody>
      <% @merchant.items.each do |item| %>
        <% if item.status == "disabled" %>
          <%= render partial: "item", locals: { item: item, merchant: @merchant } %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</section>
</div>

<div class="table-container">
<section id="enabled_items">
  <table class="table-style">
<caption><center>Enabled Items</center></caption>
    <%= render partial: "table_head" %>
    <tbody>
      <% @merchant.items.each do |item| %>
        <% if item.status == "enabled" %>
          <%= render partial: "item", locals: { item: item, merchant: @merchant } %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</section>
</div>



