<h1><center><%= @merchant.name %> Items</center></h1>
<section id="disabled_items">
  <h1><center>Disabled Items</center></h1>
  <table>
    <%= render partial: "table_head" %>
    <tbody>
      <% @merchant.items.each do |item| %>
        <% if item.status == "disabled" %>
        <section id="merchant_item-<%=item.id%>">
          <%= render partial: "item", locals: { item: item, merchant: @merchant } %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</section>

<section id="enabled_items">
<h1><center>Enabled Items</center></h1>
<table>
  <%= render partial: "table_head" %>
  <tbody>
    <% @merchant.items.each do |item| %>
      <% if item.status == "enabled" %>
      <section id="merchant_item-<%=item.id%>">
        <%= render partial: "item", locals: { item: item, merchant: @merchant } %>
      </section>
      <% end %>
    <% end %>
  </tbody>
</table>
<br>
<br>
<br>

<center><%= button_to "Create New Item", "/merchants/#{@merchant.id}/items/new", method: :get%></center>